<html lang="en">

<head>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <title>Chain-Link</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"></a>
    <div class="navlink" id="title"><a href="/main"><i class="fas fa-link"></i> Chain-Link</a></div>
    <div class="navlink"><a href="/logout">Log out</a></div>
    <div class="navlink"><a id="passwordButton" href="/password">Change password</a></div>
    <div class="navlink"><a id="privateButton">Set private</a></div>
    <div class="navlink" id="errorMessage"></div>
  </nav>
  <section id="appContent">
    <section id="makeLink">
    </section>
    <section id="links">
    </section>
  </section>
  <div id="chainlinkMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box" /><img id="err"
      src="assets/img/Mullet.gif" alt="err" />
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/bundle.js"></script>
</body>

</html>